<div class="nested-fields">
  <%= f.hidden_field :_destroy %>
  <div>
    <%= f.label :author_id %>
    <%= f.collection_select :author_id, Author.all, :id, :name, multiple: true %>
  </div>
  
  <div>
    <%= link_to "Remove", '#', class: "remove_fields" %>
  </div>
</div>
